{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Hangman</h1>
  </div>
  <p>Here is your word</p>
  {{state['word_so_far']}}
  <form method="post" action="/play">
    Guess a letter: <input type="text" name="guess">
    <br>
    <input type="submit" class="btn btn-lg btn-danger">
  </form>
  <p>Here are the letters you've guessed already</p>
  {% for x in state['guessed_letters'] %}
   {{x}}
  {% endfor %}

  {% if already_guessed == true %}
    <p>You already guessed that letter. Please guess another letter.</p>

  {% elif guess in word %}
    <p>Great! The letter is in the word!</p>
  {% endif %}

  {% if win == true %}
    <p>Congratulation! You have the correct word!</p>

  {% elif guess not in word %}
    <p>Sorry, this letter is not in the word.</p>

  {% endif %}

{% endblock %}
