{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">

    <h1><center>Group member information</center></h1>
    <a href="https://imgur.com/n3K8B1N"><img src="https://i.imgur.com/n3K8B1N.jpg" title="source: imgur.com" width="500" height="355" /></a>

    <table style="height: 130px;" width="320"><caption>Group member information</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th colspan="1">major</th>
                <th colspan="1">year</th>
                <th colspan="1">emailaddress</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Izzie Yu</td>
                <td>Neuroscience</td>
                <td>Sophomore</td>
                <td>izzieyu@brandeis.edu</td>
            </tr>
            <tr>
                <td>Cathy Wang</td>
                <td>Pyschology</td>
                <td>Sophomore</td>
                <td>cathywang@brandeis.edu</td>
            </tr>
            <tr>
                <td>Sasha Sha</td>
                <td>Biology</td>
                <td>Sophomore</td>
                <td>shamingqi1029@brandeis.edu</td>
        </tbody>
    </table>
{% endblock %}
